REDIS_URL=redis://redis:6379
NEWS_ADMIN=";"
# if you want set admin => NEWS_ADMIN=1106111111
# without any "quotation marks"

# NEWS_ADMIN_ACCOUNT=";"
# NEWS_ADMIN_PASSWORD=";"
# login admin with account